<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>method</key>
  <string>enterprise</string> <!-- esse método NÃO exige TeamID no Codemagic cloud -->
  <key>signingStyle</key>
  <string>manual</string>
  <key>teamID</key>
  <string></string> <!-- pode ficar vazio -->
  <key>compileBitcode</key>
  <false/>

  <!-- ISSO FORÇA XCODE A EXPORTAR SEM CERTIFICADO DE DISTRIBUIÇÃO -->
  <key>signingCertificate</key>
  <string></string>
  <key>provisioningProfileSpecifier</key>
  <string></string>
  <key>iCloudContainerEnvironment</key>
  <string>Production</string>
</dict>
</plist>
